<div class="pv4 pv5-ns">
  <h2 class="mv0 pb2 pb3-ns f5 f4-ns normal lh-copy bb b--black-20">Projects</h2>
  <ul class=" flex flex-wrap justify-between mv0 pl0 list">
    {% for project in site.data.projects %}
      <li class="w-100 w-30-l pv4 pv5-ns pb0-l bb b--black-10 bn-l">
        <a class="db no-underline black-80 color-animate hover-dark-red" href="{{ project.link }}">
          <p class="mt0 mb1 f7 f6-ns fw5 lh-copy ttu tracked black-40">{{ project.client }}</p>
          <h3 class="mt0 mb1 mb2-ns f3 f2-ns fw5 lh-copy measure-narrow">{{ project.name }}</h3>
          <p class="mv0 lh-copy measure black-60">{{ project.description }}</p>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
