@font-face
  font-family "Proxima Nova"
  src url("../fonts/proxima-nova-400.eot")
  src url("../fonts/proxima-nova-400.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-nova-400.woff") format("woff"), url("../fonts/proxima-nova-400.ttf") format("truetype"), url("../fonts/proxima-nova-400.svg#proxima_nova400") format("svg")
  font-weight normal
  font-style normal

@font-face
  font-family "Proxima Nova"
  src url("../fonts/proxima-nova-300.eot")
  src url("../fonts/proxima-nova-300.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-nova-300.woff") format("woff"), url("../fonts/proxima-nova-300.ttf") format("truetype"), url("../fonts/proxima-nova-300.svg#proxima_nova300") format("svg")
  font-weight 300
  font-style normal
