@import "nib"

/* Variables */

color-brand = #FE4444
color-text = #222
color-links = #aaa

/* Reset */

global-reset()

/* Fonts */

@font-face
    font-family "Adelle"
    src url("../fonts/adelle-regular-webfont.eot")
    src url("../fonts/adelle-regular-webfont.eot?#iefix") format("embedded-opentype"),
        url("../fonts/adelle-regular-webfont.woff") format("woff"),
        url("../fonts/adelle-regular-webfont.ttf") format("truetype"),
        url("../fonts/adelle-regular-webfont.svg#Adelle") format("svg")
    font-weight normal
    font-style normal


@font-face
    font-family "Adelle"
    src url("../fonts/adelle-light-webfont.eot")
    src url("../fonts/adelle-light-webfont.eot?#iefix") format("embedded-opentype"),
        url("../fonts/adelle-light-webfont.woff") format("woff"),
        url("../fonts/adelle-light-webfont.ttf") format("truetype"),
        url("../fonts/adelle-light-webfont.svg#Adelle") format("svg")
    font-weight 300
    font-style normal

/* Layout */

html
  min-height 100%
  display flex
  flex-direction column
  justify-content center

body
  display flex
  flex-direction column
  align-items center

.container
  width 100%
  max-width 500px
  padding 60px 0
  display flex
  flex-direction column
  align-items center

.bio
  margin 36px 0

.links
  display flex
  flex-direction row
  margin-bottom 36px

  li
    margin 0 16px

/* Typography */

body
  font-smoothing antialiased

.bio
  font 300 28px/1.5 "Adelle", sans-serif
  text-align center

.links a
  font 400 16px "Adelle", sans-serif
  text-decoration none

/* Components */

.logo
  transform translate3d(0,0,0)
  animation bounce 1s ease-in-out
  animation-fill-mode both

  svg
    fill color-brand

.bio
  color color-text
  animation fade 1.2s 0.4s
  animation-fill-mode both

.links
  animation fade 1s 0.6s
  animation-fill-mode both

  a
    color color-links
    transition all 0.3s

    &:hover
      color color-brand

/* Animation */

@keyframes bounce
  0%
    opacity 0
    transform scale(.3)

  50%
    opacity 1
    transform scale(1.1)

  70%
    transform scale(.9)

  100%
    transform scale(1)

@keyframes fade
  0%
    opacity 0

  100%
    opacity 1
